.skillsContainer {
    height: 90vh;
    background-color: #242A35;
}

/* skill heading overlay */
.skillHeadingContainer {
    position: relative;
    left: 6em;
}

.skillHeadingText {
    position: relative;
    bottom: 3.5em;
    left: .7em;
}

.overlaySkillHeading {
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.3);
    opacity: 0.3;
    position: relative;
    top: .3em;
}

.skillUnderline span {
    padding: 0 28px;
    position: relative;
    bottom: .6em;
    margin-right: .2em;
    border-bottom: 4px solid white;
}

/* skill bar */
.skillBarContent {
    display: flex;
    flex-wrap: wrap;
}

.skillBarItem {
    width: 400px;
    height: auto;
    position: relative;
    left: 6rem;
}